@page "/"

<h1>Apex Restaurant</h1>

<br />

<ul>
    <li>
        Reserve Tables
        <ul>
            <li>See Available Tables</li>
            <li>See Reserved Tables</li>
            <li>Cancel Reservation</li>
        </ul>
    </li>
    <br />
    <li>
        Order Items
        <ul>
            <li>See Available Quantity</li>
            <li>Generate Bill</li>
            <li>Print Bill</li>
        </ul>
    </li>
    <br />
    <li>
        Add Inventory
    </li>
</ul>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: lightblue;
        margin: 0;
        padding: 0;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1 {
        font-size:75px;
    }

    ul {
        font-size:25px;
    }
</style>
